*.dic           text
*.desktop       text eol=lf
*.gif           binary
*.gitattributes text eol=lf
*.gitignore     text eol=lf
*.java          text eol=lf
*.jar           binary
*.jpg           binary
*.md            text eol=lf
*.mf            text eol=lf
*.pdf           binary
*.png           binary
*.properties    text eol=lf
*.scala         text eol=lf
*.sbt           text eol=lf
*.sh            text eol=lf
*.svg           text eol=lf
*.txt           text
*.xml           text eol=lf
*.zip           binary

