# .            .           .                   .                 +             .          +      #
#         +-----------+  +---+    +  +---+  +-----------+  +---+    Media Programming in Scala   #
#   *     |           |  |    \     /    |  |           | +|   |            Since 2015           #
#         |   +-------+  |     \   /     |  |   +-------+  |   |   .                        .    #
#         |   |          |      \ /      |  |   |          |   |         Aalto University        #
#       . |   +-------+  |   .   V   .   |  |   |   .      |   |      .   Espoo, Finland       . #
#  +      |           |  |   |\     /|   |  |   |          |   |                  .    +         #
#         +------+    |  |   | \   / |   |  |   |          |   |    +        *                   #
#    *           |    |  |   |  \ /  |   |  |   |      *   |   |                     .      +    #
#      -- +------+    |  |   |   V  *|   |  |   +-------+  |   +-------+ --    .                 #
#    ---  |           |  |   | .     |   |  |           |  |           |  ---      +      *      #
#  ------ +-----------+  +---+       +---+  +-----------+  +-----------+ ------               .  #
#                                                                                     .          #
#     T H E   S C A L A   M E D I A   C O M P U T A T I O N   L I B R A R Y      .         +     #
#                                                                                    *           #

#
# File ignoration patterns for Git
#
# The idea here is to explicitly ignore everything,
# except the exact files allowed to be checked in.
#

/*

!/.idea
!/node_modules
!/project
!/smcl-bitmap-viewer
!/smcl-core
!/.gitattributes
!/.gitignore
!/build.sbt
!/CHANGELOG
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/LICENSE
!/package.json
!/README.md

/.idea/libraries
/.idea/modules
/.idea/workspace.xml
/.idea/tasks.xml

/project/*
!/project/build.properties
!/project/plugins.sbt

/smcl-bitmap-viewer/*
!/smcl-bitmap-viewer/js
!/smcl-bitmap-viewer/jvm
!/smcl-bitmap-viewer/shared
!/smcl-bitmap-viewer/root-doc.txt

/smcl-bitmap-viewer/js/*
/smcl-bitmap-viewer/jvm/*
/smcl-bitmap-viewer/shared/*
!/smcl-bitmap-viewer/js/src
!/smcl-bitmap-viewer/jvm/src
!/smcl-bitmap-viewer/shared/src

/smcl-core/*
!/smcl-core/js
!/smcl-core/jvm
!/smcl-core/shared
!/smcl-core/root-doc.txt

/smcl-core/js/*
/smcl-core/jvm/*
/smcl-core/shared/*
!/smcl-core/js/src
!/smcl-core/jvm/src
!/smcl-core/shared/src

**/.git/*
**/.history/*
**/__pycache__/*
**/*___jb_tmp___
**/.cache-main
**/.DS_Store
**/*.bak
**/*.class
**/*.log
**/*.pyc
**/*.pyo
**/*~
