#
# File ignoration patterns for Git
#
# The idea here is to explicitly ignore everything,
# except the exact files allowed to be checked in.
#

/*

!/.idea
!/conf
!/project
!/smcl-core
!/smcl-core-tests
!/smcl-public-interfaces
!/smcl-public-interfaces-tests
!/.gitattributes
!/.gitignore
!/build.sbt
!/CHANGELOG
!/CONTRIBUTING.md
!/LICENSE
!/README.md
!/smcl-root.iml


/.idea/workspace.xml

/project/*
!/project/ApplicationDependencies.scala
!/project/build.properties
!/project/plugins.sbt

/smcl-core/*
!/smcl-core/js
!/smcl-core/jvm
!/smcl-core/shared
!/smcl-core/root-doc.txt

/smcl-core/js/*
/smcl-core/jvm/*
/smcl-core/shared/*
!/smcl-core/js/src
!/smcl-core/js/smcl-core-js.iml
!/smcl-core/jvm/src
!/smcl-core/jvm/smcl-core-jvm.iml
!/smcl-core/shared/src
!/smcl-core/shared/smcl-core-shared.iml

/smcl-core-tests/*
!/smcl-core-tests/js
!/smcl-core-tests/jvm
!/smcl-core-tests/shared
!/smcl-core-tests/root-doc.txt

/smcl-core-tests/js/*
/smcl-core-tests/jvm/*
/smcl-core-tests/shared/*
!/smcl-core-tests/js/src
!/smcl-core-tests/js/smcl-core-tests-js.iml
!/smcl-core-tests/jvm/src
!/smcl-core-tests/jvm/smcl-core-tests-jvm.iml
!/smcl-core-tests/shared/src
!/smcl-core-tests/shared/smcl-core-tests-shared.iml

/smcl-public-interfaces/*
!/smcl-public-interfaces/js
!/smcl-public-interfaces/jvm
!/smcl-public-interfaces/shared
!/smcl-public-interfaces/root-doc.txt

/smcl-public-interfaces/js/*
/smcl-public-interfaces/jvm/*
/smcl-public-interfaces/shared/*
!/smcl-public-interfaces/js/src
!/smcl-public-interfaces/js/smcl-public-interfaces-js.iml
!/smcl-public-interfaces/jvm/src
!/smcl-public-interfaces/jvm/smcl-public-interfaces-jvm.iml
!/smcl-public-interfaces/shared/src
!/smcl-public-interfaces/shared/smcl-public-interfaces-shared.iml

/smcl-public-interfaces-tests/*
!/smcl-public-interfaces-tests/js
!/smcl-public-interfaces-tests/jvm
!/smcl-public-interfaces-tests/shared
!/smcl-public-interfaces-tests/root-doc.txt

/smcl-public-interfaces-tests/js/*
/smcl-public-interfaces-tests/jvm/*
/smcl-public-interfaces-tests/shared/*
!/smcl-public-interfaces-tests/js/src
!/smcl-public-interfaces-tests/js/smcl-public-interfaces-tests-js.iml
!/smcl-public-interfaces-tests/jvm/src
!/smcl-public-interfaces-tests/jvm/smcl-public-interfaces-tests-jvm.iml
!/smcl-public-interfaces-tests/shared/src
!/smcl-public-interfaces-tests/shared/smcl-public-interfaces-tests-shared.iml

**/.git/*
**/.history/*
**/__pycache__/*
**/.cache-main
**/.DS_Store
**/*.bak
**/*.class
**/*.log
**/*.pyc
**/*.pyo
**/*~
