#
# File ignoration patterns for Git
#

/*
.cache-main
.cache-tests
.classpath
.project
.settings

!/.gitattributes
!/.gitignore
!/build.sbt
!/root-doc.txt
!/src
!/project

/project/*
!/project/plugins.sbt