#
# File ignoration patterns for Git
#
# The idea here is to explicitly ignore everything,
# except the exact files allowed to be checked in.
#

/*

!/.gitattributes
!/.gitignore
!/build.sbt
!/root-doc.txt
!/conf
!/project
!/src

/project/*
!/project/plugins.sbt
